* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Ubuntu;
    text-decoration: none;
    overflow-x: hidden;
    letter-spacing: 1px;

}

/*navbar styling*/
.navbar {
    /*background: crimson;*/
    position: fixed;
    width: 100%;
    padding: 30px 0;
    z-index: 99;
    transition: all 0.3s ease;
}

.navbar.sticky {
    background: crimson;
    padding: 15px 0;
}

.navbar .logo a {
    color: white;
    font-size: 38px;
    font-weight: 600;
    letter-spacing: 5px;
}

.navbar .logo a span {
    color: crimson;
    transition: all 0.3s ease;
}

.navbar.sticky .logo a span {
    color: white;
}


.max-width {
    max-width: 1300px;
    margin: auto;
    right: 50px;
}

.navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .menu li {
    display: inline-block;
}

.navbar .menu li a {
    color: white;
    font-size: 22px;
    font-weight: 500;
    margin-left: 40px;
    transition: color 0.3s ease;
}

.navbar .menu li a:hover {
    color: crimson;
}

.navbar.sticky .menu li a:hover {
    color: white;
    transform: scale(1.05);
}

/*menu button styling*/
.menu_button {
    color: white;
    cursor: pointer;
    display: none;
}

/*home section styling*/
.home {
    display: flex;
    height: 100vh;
    background: url("../asserts/icon/Artboard 1.jpg");
    background-size: cover;
    color: white;

}

.home .max-width {
    margin: auto 0 auto 70px;
    width: max-content;
}

.home .home-content .text1 {
    font-size: 30px;
    margin-bottom: 10px;
}

.home .home-content .text2 {
    font-size: 78px;
    font-weight: 600;
    margin-left: -3px;
    color: white;
}

.home .home-content .text3 {
    font-size: 40px;
    font-weight: 600;
    margin-left: -3px;
    color: white;
    bottom: 51px;
    left: 38%;
    position: absolute;
}

.home .home-content .text3 span {
    font-size: 35px;
    color: crimson;

}

.back-rect {
    width: 540px;
    height: 540px;
    border-radius: 100px 0 0 0;
    background: #926e689e;
    transform: rotate(74deg);
    right: -23px;
    top: 79px;
    position: absolute;
    box-shadow: rgba(255, 21, 65, 0.42) 0px 8px 600px;
}

.front-img {
    width: 550px;
    height: 550px;
    background: grey;
    right: -51px;
    position: absolute;
    background: url(../asserts/icon/home-side-pic.png);
    background-size: cover;
    background-position: center;
    transform: translateY(79px);
}

.button {
    background: crimson;
    font-weight: 500;
    border-radius: 9px;
    padding: 10px;
    border-style: hidden;
    margin-top: 40px;
    transition: all 0.3s ease;
    border: 2px solid transparent;

}

#btnContactme:hover {
    background: none;
    border: 1px solid crimson;
}

.button a {
    color: white;
    font-size: 20px;
    font-family: "Ubuntu Light";
    font-weight: 600;
}

#btnContactme a:hover {
    color: crimson;
}


/*about me section styling*/
.aboutme {
    padding: 100px 0;
    display: block;
    background: #FDFDFD;

}

.aboutme h1 {
    margin-left: 5%;
}

.aboutme-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 5%;
}

.aboutme-content .right {
    width: 55%;
    letter-spacing: 2px;
}

.aboutme-content .left {
    width: 45%;
}

.aboutme-content .left img {
    width: 400px;
    /*margin-left: 50px;*/
    height: 420px;
    object-fit: cover;
    border-radius: 6px;
    /*box-shadow: #0e0e0e 2px 5px px;*/
}


.aboutme-content .caption {
    font-size: 40px;
    margin-bottom: 35px;
    text-align: center;
}

.aboutme-content .caption span {
    color: crimson;
}

.aboutme-content .right p {
    text-align: justify;
    font-size: 20px;
}

.aboutme .button {

    transition: all 0.3s ease;

}

#btnCV a {
    font-size: 17px;
}

#btnCV:hover {
    background: transparent;
    border-color: crimson;
    color: crimson;
}

#btnCV a:hover {
    font-size: 17px;
    color: crimson;
    background: transparent;

}

/*common styling*/
section h1 {
    font-weight: bold;
    font-size: 45px;
    padding: 0px;
    margin-bottom: 60px;
    position: relative;
    text-shadow: grey 2px 5px 5px;
}

section .title span {
    color: crimson;
}

section h1::before {
    content: "";
    width: 170px;
    height: 4px;
    border-radius: 10px 0 10px 0;
    background: black;
    position: absolute;
    bottom: 0;

}


/*skill section styling*/

.skill-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 5% 5% 0;
}

.skills h1 {
    text-align: right;
    margin-right: 5%;
    z-index: 2;
    transform: translate(0px, 50px);
}

.skill-content .left div {
    width: 80%;
    height: 22px;
    display: block;
    border-radius: 10px;
    margin: 9%;
    border: 1px #da8f8f solid;
    z-index: 3;
}

.skill-content .skillimg {
    width: 800px;
    position: absolute;
    right: -100px;
    z-index: 1;
}


.skill-content .left {
    width: 700px;
    z-index: 3;
    position: relative;
}

.skill-content .left img {
    margin: 10px;
    width: 40px;
    height: 40px;
    object-fit: cover;
    position: absolute;
    left: -9px;
    top: 25px;

}

.skill-content .left .bar1 img {
    top: 38px;
}

.skill-content .left .bar2 img {
    top: 134px;
}

.skill-content .left .bar3 img {
    top: 215px;
}

.skill-content .left .bar4 img {
    top: 296px;
}

.skill-content .left .bar5 img {
    top: 383px;
}

.skill-content .left .bar6 img {
    top: 463px;
}

.left h3 {
    position: absolute;
    right: 0;
    font-family: "Ubuntu Light";
    font-size: 17px;
    color: #570109;
}

.skill-content .left div::before {
    content: "";
    height: 19px;
    border-radius: 10px;
    z-index: 3;
    border: 1px solid transparent;
    background: crimson;
    position: absolute;
    /*left: 0;*/
    /*margin: 9%;*/

}

.skill-content .bar1::before {
    width: 50%;
}

.skill-content .bar2::before {
    width: 35%;
}

.skill-content .bar3::before {
    width: 35%;
}

.skill-content .bar4::before {
    width: 40%;
}

.skill-content .bar5::before {
    width: 25%;
}

.skill-content .bar6::before {
    width: 1%;
}


/*project section styling */

.projects {
    background: #FDFDFD;
}

.project-content {
    height: 100%;
    padding: 20px 25px;
    position: relative;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    margin: 5%;

}

.projects h1 {
    margin-left: 5%;
}

.project-content .card {
    width: calc(33% - 50px);
    border-radius: 50px 0 50px 0;
    box-shadow: black 2px 5px 10px;
    object-fit: fill;
    cursor: pointer;

}

.project-content .card .box {
    width: 100%;
    height: 370px;
    position: relative;
}

.pro1 {
    background: url("../asserts/icon/proj1.gif");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    text-align: end;
}

.pro2 {
    background: url("../asserts/icon/proj2.gif");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
}

.pro3 {
    background: url("../asserts/icon/ass2.gif");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
}

.box h2 {
    position: absolute;
    bottom: 7px;
    left: 35%;
}

.projects .btnViewMore {
    font-size: 20px;
    left: 50%;
    transform: translate(-50%);
    border-radius: 50px 0 50px 0;
    font-family: Beach;
    border: 2px solid crimson;
    background: crimson;
    color: white;
    width: 150px;
    height: 35px;
    position: relative;
    padding: 5px;
    margin-bottom: 30px;
    transition: all 0.3s ease;

}

.btnViewMore:hover {
    background: transparent;
    color: crimson;

}

/*service section styling*/


.service {
    background: #FDFDFD;
}

.service h1 {
    margin: 5%;
}
.service-content{
    margin-left: 5%;
    margin-top: 8%;

}
.serviceimg {
    width: 505px;
    position: absolute;
    right: 30px;
    z-index: 1;
    transform: translate(1px, -36px);
}

.slider {
    width: 650px;
    height: 500px;
    /*border: 1px solid black;*/
    /*box-shadow: grey 2px 5px 10px;*/
    /*background: rgba(0,0,0,0.15);*/
    display: flex;
    position: absolute;

}


.slider .box {
    transition: all 2s ease;

    width: 100%;
    height: 380px;
    border-radius: 100px 0 100px 0;
    box-shadow: grey 2px 5px 5px;
    background: rgba(0, 0, 0, 0.15);
    position: relative;
    overflow: hidden;
}

.slider .slides {

    width: 300%;
    height: 380px;
    display: flex;
    overflow: hidden;
    position: absolute;
}
/*#s2{
    background: rgba(153, 19, 19, 0.64);
}*/

/*
.slides p {
    width: 90%;
    text-align: center;
    margin: 125px -25px 55px 20px;
    position: absolute;
}
*/
.slides p {
    width: 87%;
    text-align: center;
    margin: 95px -91px 149px 50px;
    position: absolute;
}

.header {
    width: 83vw;
    height: 65px;
    background: #b1b1b1;
    border-radius: 36px 0 0 0;
    right: 0;
    position: absolute;
    margin: -14px;
}

.web i {
    color: #de0000;
    margin-right: 15px;
    font-size: 20px;
}

.web {
    width: 670px;
    height: 50px;
    position: absolute;
    margin: 4px 0 0px 0px;
    left: 185px;
    font-weight: 700;
    font-size: 26px;
}

.web span {
    color: #de0000;
}

.slide {
    width: 650px;
    height: 380px;
    border-radius: 100px 0 100px 0;
    /*box-shadow: grey 2px 5px 10px;*/
    background: rgba(0, 0, 0, 0.15);
    position: relative;
}

.slider input {
    display: none;
}


.navigation-manual {
    position: absolute;
    width: 800px;
    display: flex;
    justify-content: center;
    margin-top: 0px;
    bottom: 10px;
    left: -75px;
}

.manual-btn {
    border: 2px solid crimson;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 20px;
}

.manual-btn:hover {
    background: #ff253a;
}

#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -650px;
}

#radio3:checked ~ .first {
    margin-left: -1300px;
}


/*responsive media query strating*/

@media (max-width: 1270px) {
    .projects .project-content {
        position: relative;
    }

    .project-content .card {
        width: calc(50% - 20px);
        margin-bottom: 20px;
    }
}

@media (max-width: 1440px) {

    .back-rect {
        width: 490px;
        height: 490px;
    }

    .front-img {
        width: 510px;
        height: 510px;
    }

}

@media (max-width: 1420px) and (min-width: 1370px) {
    .home .home-content .text2 {
        font-size: 72px;
    }
}

@media (max-width: 1270px)  and (min-width: 1180px) {
    .skill-content .skillimg {
        width: 700px;
        position: absolute;
        right: -100px;
        z-index: 1;
    }
}

@media (max-width: 1250px) {
    .aboutme .aboutme-content .column {
        width: 50%;
    }
    .serviceimg {
        width: 420px;
        transform: translate(1px, -8px);
    }
    .slider {
        width: 600px;
    }
    .slide {
        width: 600px;
    }

    #radio2:checked ~ .first {
        margin-left: -600px;
    }

    #radio3:checked ~ .first {
        margin-left: -1200px;
    }
}
@media (max-width: 1180px)  and (min-width: 1080px) {
    .skill-content .skillimg {
        width: 600px;

    }

}
@media (max-width:1080px) {
    .serviceimg {
        width: 350px;
        transform: translate(20px, 35px);
    }
    .slider {
        width: 570px;
    }
    .slide {
        width: 570px;
    }
    #radio1:checked ~ .first {
        margin-left: 0;
    }

    #radio2:checked ~ .first {
        margin-left: -570px;
    }

    #radio3:checked ~ .first {
        margin-left: -1140px;
    }

    .web {
        font-size: 24px;
    }
}


@media (max-width: 1044px) and (min-width: 950px) {

    .aboutme-content .left img {
        width: 350px;
        height: 380px;
    }

}


@media (min-width: 1040px) and (max-width: 1370px) {
    .navbar .max-width {
        padding: 0 50px;
    }

    .home .home-content .text2 {
        font-size: 74px;
        width: 500px;
    }

    .skill-content .left {
        margin-left: 35px;
    }

}

@media (max-width: 1040px) and (min-width: 950px) {
    .navbar .max-width {
        padding: 0 60px;
    }

    .home .max-width {
        width: 500px;
        padding: 0 20px;
    }

    .back-rect {
        width: 425px;
        top: 120px;
        height: 425px;
    }

    .front-img {
        width: 430px;
        height: 430px;
        top: 50px;
    }

    .home .max-width {
        margin: auto 0 auto 40px;
    }

    .home .home-content .text1 {
        font-size: 25px;
        margin-bottom: 10px;
    }

    .home .home-content .text2 {
        font-size: 68px;
        font-weight: 600;
        color: white;
        width: 500px;
    }

    .home .home-content .text3 {
        font-size: 35px;
        font-weight: 500;
    }

    .home .home-content .text3 span {
        font-size: 30px;

    }

    .skill-content .left {
        margin-left: 35px;
    }
}

@media (max-width: 950px) {
    .max-width {
        padding: 0 50px;
    }

    .menu_button {
        display: block;
        z-index: 999;
        font-size: 32px;
    }

    .menu_button i.active:before {
        content: "\f00d";
    }

    .navbar .menu {
        position: fixed;
        background: rgba(0, 0, 0, 0.95);
        width: 100%;
        height: 100vh;
        left: -100%;
        top: 0;
        transition: all 0.3s ease;
    }

    .navbar .menu.active {
        left: 0;
    }

    .home .max-width {
        padding: 0 10px;
    }

    .back-rect {
        display: none;
    }

    .front-img {
        display: none;
    }

    .home .home-content .text2 {
        font-size: 65px;
    }

    .home .home-content .text3 {
        font-size: 42px;
        left: 28%;
    }

    .navbar .menu li {
        display: block;
        margin-top: 100px;
        text-align: center;
    }

    .navbar .menu li a {
        display: inline-block;
        font-size: 30px;
        font-weight: 500;
    }

    .aboutme .aboutme-content .left {
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
        width: fit-content;
    }
    .aboutme .aboutme-content .column {
        width: 50%;
    }

    .aboutme .aboutme-content .left {
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }

    .aboutme .aboutme-content .right {
        flex: 100%;
    }

    .aboutme h1, .skills h1, .projects h1, .service h1 {
        text-align: center;
    }

    .skill-content .skillimg {
        width: 600px;
        position: relative;
        z-index: 1;
        left: 50%;
        transform: translate(-50%);
    }
    .service .title{
        margin: 25%;

    }

}
@media (max-width: 880px) {
.web {
    left: 210px;
    font-size: 24px;
}
}
@media (max-width: 950px) and (min-width: 850px) {

    .serviceimg {
        width: 285px;
        transform: translate(30px, 65px);
    }
    .slider {
        width: 520px;
    }
    .slide {
        width: 520px;
    }
    .manual-btn {
        transform: translate(-70px, 0);
    }

    #radio2:checked ~ .first {
        margin-left: -520px;
    }

    #radio3:checked ~ .first {
        margin-left: -1040px;
    }
    .web {
        left: 140px;
        font-size: 24px;
    }

}
@media (max-width: 850px)  and (min-width: 720px){
    .serviceimg{
        display: none;
    }
    .slider {
        width: 580px;
    }
    .slide {
        width: 580px;
    }
    .manual-btn {
        transform: translate(-35px, 0);
    }

    #radio2:checked ~ .first {
        margin-left: -580px;
    }

    #radio3:checked ~ .first {
        margin-left: -1160px;
    }

}
@media (max-width: 720px) {
    .serviceimg {
        display: none;
    }

    .slider {
        width: 490px;
    }

    .slide {
        width: 490px;
    }
    .slides p{
        width: 80%;
    }

    .manual-btn {
        transform: translate(-50px, 0);
    }

    #radio2:checked ~ .first {
        margin-left: -490px;
    }

    #radio3:checked ~ .first {
        margin-left: -980px;
    }

}
@media (max-width: 800px) {
    .project-content {
        display: flex;
        flex-direction: column;
        margin: 5%;
    }

    .project-content .card {
        width: 100%;
    }
    .web {
        left: 175px;
    }

}
@media (max-width: 600px) and (min-width: 550px) {
    .slider {
        width: 450px;
    }
    .slide {
        width: 450px;
    }

    .manual-btn {
        transform: translate(-90px, 0);
    }
    .web {
        left: 90px;
        font-size: 22px;
    }
    .header {
        width: 78vw;
    }
    #radio2:checked ~ .first {
        margin-left: -450px;
    }

    #radio3:checked ~ .first {
        margin-left: -900px;
    }
}
@media (max-width: 550px) and (min-width: 475px) {
    .slider {
        width: 390px;
    }
    .slide {
        width: 390px;
    }
    .manual-btn {
        transform: translate(-134px, 0);
    }
    .header {
        width: 80vw;
    }
    .web {
        left: 62px;
        font-size: 20px;
    }
    #radio2:checked ~ .first {
        margin-left: -390px;
    }

    #radio3:checked ~ .first {
        margin-left: -780px;
    }
}

@media (max-width: 790px) and (min-width: 600px) {


    .skill-content .left .bar1 img {
        top: 35px;
    }

    .skill-content .left .bar2 img {
        top: 120px;
    }

    .skill-content .left .bar3 img {
        top: 200px;
    }

    .skill-content .left .bar4 img {
        top: 276px;
    }

    .skill-content .left .bar5 img {
        top: 358px;
    }
    .web {
        left: 185px;
        font-size: 23px;
    }

}

@media (max-width: 600px) {

    .skill-content .left .bar1 img {
        top: 19px;
    }

    .skill-content .left .bar2 img {
        top: 84px;
    }

    .skill-content .left .bar3 img {
        top: 142px;
    }

    .skill-content .left .bar4 img {
        top: 195px;
    }

    .skill-content .left .bar5 img {
        top: 255px;
    }

}

@media (max-width: 490px) {
    .home .max-width {
        margin-left: 30px;
    }

    .home .home-content .text1 {
        font-size: 25px;
    }

    .home .home-content .text2 {
        font-size: 50px;
    }

    .home .home-content .text3 {
        font-size: 31px;
        margin-left: 0px;

    }
    .service .title{
       margin-right: 0;
    }

}

/*@media (max-width: 600px) and (min-width: 490px) {
    .aboutme-content .left img{
        width: 300px;
        height: 300px;
    }
}*/
@media (max-width: 490px) and (min-width: 380px) {
    /*.aboutme-content .left img{
        width: 260px;
        height: 260px;
    }*/
    .home .home-content .text3 {
        font-size: 30px;
        text-align: center;
        margin-left: -70px;
    }

    .home .home-content .text3 span {
        font-size: 33px;
        color: crimson;
    }

}
@media (max-width: 490px) and (min-width: 420px) {
    .slider {
        width: 330px;
    }
    .slide {
        width: 330px;
    }
    .manual-btn {
        transform: translate(-165px, 0);
    }

    .slides p{
        width: 70%;
    }
    #radio2:checked ~ .first {
        margin-left: -330px;
    }

    #radio3:checked ~ .first {
        margin-left: -660px;
    }
    .web {
        left: 58px;
        font-size: 16px;
    }
    .header {
        width: 80vw;
    }
}
@media (max-width: 475px) {
    .projects .project-content {
        position: relative;
        width: 100%;
    }

    .project-content .card .box {
        height: 300px;
    }

    .projects .btnViewMore {
        font-size: 15px;
        width: 120px;
        height: 30px;

    }

    .card .box h2 {
        position: absolute;
        bottom: 7px;
        font-size: 20px;
        left: 20%;
    }

}

@media (max-width: 425px) {

    .card .box h2 {
        position: absolute;
        bottom: 7px;
        font-size: 20px;
        left: 21%;
    }


}
@media (max-width: 425px)  and (min-width: 381px){
    .service .title{
        margin-right: 0;
        margin-left: 0;
    }
    .slider {
        width: 290px;
    }
    .slide {
        width: 290px;
    }
    .manual-btn {
        transform: translate(-165px, 0);
    }
    .header {
        width: 76vw;
    }
    .web {
        left: 61px;
        font-size: 16px;
    }
    .web i {
        color: #de0000;
        margin-right: 15px;
        font-size: 15px;
    }
    .slides p{
        width: 70%;
    }
    #radio2:checked ~ .first {
        margin-left: -290px;
    }

    #radio3:checked ~ .first {
        margin-left: -580px;
    }
}

@media (max-width: 380px) and (min-width: 320px) {
    .home .max-width {
        margin-left: 30px;
    }

    .home .home-content .text1 {
        font-size: 25px;
    }

    .home .home-content .text2 {
        font-size: 46px;
    }

    .home .home-content .text3 {
        font-size: 26px;
        text-align: center;
        margin-left: -70px;
    }

    .home .home-content .text3 span {
        font-size: 30px;
        color: crimson;
    }

    .project-content .card .box {
        height: 250px;
    }

    /*.aboutme-content .left img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }*/

    .service-content {
        margin-left: -1%;
    }

    .slider {
        width: 250px;
    }

    .slide {
        width: 250px;
    }

    .manual-btn {
        transform: translate(-200px, 0);
    }
    .service .title{
        margin-right: 0;
        margin-left: 0;
    }

    .header {
        width: 80vw;
    }
    .web {
        left: 20px;
        font-size: 16px;
    }
    .slides p{
        width: 70%;
    }

    .slide {
        border-radius: 50px 0 50px 0;
    }
    .slider .box {
        border-radius: 50px 0 50px 0;
    }
    #radio2:checked ~ .first {
        margin-left: -250px;
    }

    #radio3:checked ~ .first {
        margin-left: -500px;
    }

}










